<div class= "footer-wrapper">
    <div class= "row row-footer justify-content-center">
      <div class="col-12">
        <p>© 2019 Supul Amarakoon</p>
      </div>
      <div class="col-12">
        <span><a href= "https://www.artstation.com/supzter" target= "parent">{% asset artstation.svg class="socialimg" %}</a></span>
        <span><a href= "https://www.behance.net/supulamaraae85" target= "parent">{% asset behance.svg class="socialimg" %}</a></span>
        <span><a href= "https://www.linkedin.com/in/supul-achinthya-amarakoon-58aa25b6/" target= "parent">{% asset linkedin.svg class="socialimg" %}</a></span>
        <span><a href= "https://medium.com/@supul.amarakoon" target= "parent">{% asset medium.svg class="socialimg" %}</a></span>
      </div>
      
        
    </div>
            
</div>