<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="" />
        <meta name=”description” content="UX Design portfolio of Supul Amarakoon">
        <meta name="keywords" content="UX Design">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Supul Amarakoon</title>
       
        
        <!-- Google Fonts -->
        <link href="//fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="//fonts.googleapis.com" rel="dns-prefetch">
        <link href="https://fonts.googleapis.com/css?family=Righteous|Ubuntu|Ubuntu:300,700" rel="stylesheet">
        {% asset main.css %}
        
        
       
        <!-- Open Graph -->
        <meta property="og:title" content="Supul Amarakoon" />
        <meta property="og:description" content="UX Design portfolio of Supul Amarakoon" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://supul.me/" />
        <meta property="og:image" content="https://supul.me/" />
        

    
    
    
        
    </head>