<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="XD_2zXGdqj_kzbCb0PEUWh6Bx49O867tKVHbJuoT_E4" />
        <meta name=”description” content="Sri Lankan Comics, Manga, and Digital Art">
        <meta name="keywords" content="manga, comics, lka, srilanka, sinhalese, funny">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Papadamn</title>
       
        
        <!-- Google Fonts -->
        <link href="//fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="//fonts.googleapis.com" rel="dns-prefetch">
        <link href="https://fonts.googleapis.com/css?family=Righteous|Ubuntu|Ubuntu:300,700" rel="stylesheet">
        {% asset main.css %}
        
        
       
        <!-- Open Graph -->
        <meta property="og:title" content="Papadamn" />
        <meta property="og:description" content="Sri Lankan comics, manga, and digital art" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://wittaya-aqua.ca" />
        <meta property="og:image" content="https://wittaya-aqua.ca" />
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135715706-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
    
            gtag('config', 'UA-135715706-1');
        </script>
    
    
    
        
    </head>