<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="" />
        <meta name=”description” content="List of ongoing fundraisers for Economic Crisis LK">
        <meta name="keywords" content="economicCrisisLK, GoHomeGota">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>SL Relief Efforts</title>
       
        
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Mulish:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
        {% asset main.css %}
        
        
       
        <!-- Open Graph -->
        <meta property="og:title" content="Sri Lanka Relief Efforts" />
        <meta property="og:description" content="List of ongoing fundraisers for Economic Crisis LK" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="image/crisis1.jpeg" />
        
        <!--Favicons-->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    
    
    
        
    </head>