<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light justify-content-between">
    <div class= "container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav collapsible-menu align-items-md-center">
                <li class="nav-item nav-general active">
                    <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                </li>  
            </ul>
        </div>
    </div>
</nav>
    