.fft-hero{
    background-color: #009465;
    background-size: cover;
    
}

.fft-wrapper{
    .project-medium-image{
        text-align: center;
        max-height: 200px;
    }

    .img-col{
        text-align: center;
    }
}