.index-wrapper{

    overflow-x: hidden;

    .siteHero{
        padding-top: 70px;
        padding-bottom: 70px;
        background-image: asset_url("econCrisis2.png");
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        text-shadow: 2px 2px 20px #000000;
        a{
            color: white;
            text-decoration: underline;
        }

        p{
            font-size: 20px;
            color: white;
        }

        h1{
            color: white;
        }

        col-md-5{
            text-align: right;
            .mediumimg{
                margin-bottom: -70px;
            }
        }



        
    }

    .contentsection{
        padding-top: 50px;
        padding-bottom: 50px;

        .title-col{
            text-align: center;
        }
  
    }

    .contentsection:nth-child(odd) {
        background: #f4f4f4;
    }

    .ctaSection{
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        background-image: asset_url("econ.jpeg");
        background-size: cover;
        h2{
            color:white;

        }
        p{
            color: white;
        }
    }

    
   

    @media only screen and (max-width: 768px){
        .siteHero{
            text-align: center;

            h1{
                padding-bottom: 30px;
            }
        }

        .contentsection{
            text-align: center;
        }
    }
}