.index-wrapper{

    .projectimg{
        width: 100%;
    }
    .siteHero{
        padding-top: 70px;
        padding-bottom: 70px;
        a{
            color: white;
            text-decoration: underline;
        }

        P{
            font-size: 20px;
        }

        col-md-5{
            text-align: right;
            .mediumimg{
                margin-bottom: -70px;
            }
        }

        
    }
    .workSection{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #F4F4F4;
        .col-md-4{
            //padding: 1%;
            padding: 5px;
            .card{
                text-align: center;
                .btn{
                    padding-top: 2%;
                    padding-bottom: 2%;
                    width: 60%;
                }
            }
        }

        .cta-row{
            text-align: center;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    .ctaSection{
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    .otherSection{
        padding-top: 50px;
        padding-bottom: 50px;
        .col-md-4{
            text-align: center;
        }

        .mediumimg{
            padding-bottom: 20px;
        }


    }

    @media only screen and (max-width: 768px){
        .siteHero{
            text-align: center;

            h1{
                padding-bottom: 30px;
            }
        }

        .workSection{
            .container{
                .row{
                    .col-card{
                        
                        .btn{
                            width: auto;
                        }
                    }
                }
            }
        }

        .otherSection{
            .container{
                .row{
                    .col-md-4{
                        padding-bottom: 30px;
                        padding-top: 30px;
                        border-bottom: 0.5px solid rgb(199, 199, 199);
                    }
                }
            }
        }
    }
}