.project-hero{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
}

.project-section{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.project-medium-image{
    max-height: 300px;
    max-width: 100%;
}

.white-section{
    background-color: white;
}

.grey-section{
    background-color: #F4F4F4;
}

.single-image-row{
    text-align: center;
}

h2{
    text-align: center;
}

h1{
    padding-bottom: 2%;
}

.img-col{
    text-align: center;
}