.skills-wrapper{
    background-color: #F4F4F4;


    .skill-title{
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;

        h1{
            padding-bottom: 2%;
        }
    }

    .skillimg{
        width: 100%;
    }

    .artimg{
        box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.33);
    }

    .skill-col{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .skill-cta{
        padding-top: 30px;
        padding-bottom: 70px;
        .row{
            .col-md-8{
                text-align: center;
            }
        }
    }

    @media only screen and (max-width: 768px){
        .skill-title{
            padding-bottom: 20px;
        }
    }
}